@media (max-width: 420px) {

    section {
        width: 380px;
    }
}

@media (max-width: 360px) {
    
    section {
        width: 300px;
    }
}

@media (max-width: 300px) {

    section {
        width: 250px;
    }
}